# Example DAVINCI-MONET Configuration
# CMAQ model evaluation against AirNow surface observations

analysis:
  start_time: "2024-07-01"
  end_time: "2024-07-31"
  output_dir: ./output
  debug: false

model:
  cmaq_v54:
    mod_type: cmaq
    files: /data/cmaq/2024/07/CCTM_CONC_*.nc
    files_vert: /data/cmaq/2024/07/METCRO3D_*.nc
    radius_of_influence: 12000
    mapping:
      airnow:
        o3: O3
        pm25: PM25_TOT
        no2: NO2
        co: CO
    variables:
      O3:
        ylabel_plot: "O3 (ppbv)"
        vmin_plot: 0
        vmax_plot: 100
        vdiff_plot: 30
      PM25_TOT:
        ylabel_plot: "PM2.5 (ug/m3)"
        vmin_plot: 0
        vmax_plot: 50
        vdiff_plot: 20

obs:
  airnow:
    obs_type: airnow
    filename: /data/obs/AirNow_202407.nc
    variables:
      o3:
        obs_min: 0
        obs_max: 200
      pm25:
        obs_min: 0
        obs_max: 500
      no2:
        obs_min: 0
        obs_max: 100
      co:
        obs_min: 0
        obs_max: 10

plots:
  timeseries_o3:
    type: timeseries
    domain_type: [all]
    domain_name: [CONUS]
    data: [cmaq_v54_airnow]
    data_proc:
      ts_avg_window: "D"  # Daily averaging

  scatter_o3:
    type: scatter
    domain_type: [all]
    domain_name: [CONUS]
    data: [cmaq_v54_airnow]

  diurnal_o3:
    type: diurnal
    domain_type: [all]
    domain_name: [CONUS]
    data: [cmaq_v54_airnow]

  spatial_bias_o3:
    type: spatial_bias
    domain_type: [all]
    domain_name: [CONUS]
    data: [cmaq_v54_airnow]

  taylor_diagram:
    type: taylor
    domain_type: [all]
    domain_name: [CONUS]
    data: [cmaq_v54_airnow]

stats:
  output_table: true
  output_table_kwargs:
    precision: 3
  metrics:
    - N
    - MO
    - MP
    - MB
    - RMSE
    - R
    - NMB
    - NME
    - IOA
